alabaster==0.7.12
appdirs==1.4.4
attrs==21.2.0
Babel==2.9.1
biopython==1.76
black==21.5b2
cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coverage==5.5
cycler==0.10.0
Cython==0.29.23
dataclasses==0.8
docutils==0.17.1
h5py==3.1.0
idna==2.10
imagesize==1.2.0
importlib-metadata==4.5.0
iniconfig==1.1.1
Jinja2==3.0.1
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mypy-extensions==0.4.3
numpy==1.19.5
ont-fast5-api==3.3.0
packaging==20.9
pandas==1.1.5
pathspec==0.8.1
patsy==0.5.1
Pillow==8.2.0
pluggy==0.13.1
progressbar33==2.4
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pysam==0.16.0.1
pytest==6.2.4
pytest-cov==2.12.1
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
requests==2.25.1
scipy==1.5.1
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.12.2
taiyaki==5.3.0
toml==0.10.2
torch==1.8.1
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
zipp==3.4.1
